.head-title {
  @media (max-width: 900px) {
    font-size: 1rem;
    font-weight: bolder;
  }
}

.form {
  @media (max-width: 600px) {
    width: 100%;
  }
  .card {
    width: 100%;
    @media (max-width: 600px) {
    }
  }

  .links {
    @media (max-width: 600px) {
      padding-top: 1rem;
      font-size: 0.7rem;
    }
  }
}
