.toolbar {
  @media (max-width: 900px) {
    height: 100px;
    flex-direction: row;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    height: 150px;
    padding-bottom: 10px;

    .title {
      margin-top: 5px;
    }
    .form {
      @media (max-width: 900px) {
        width: 100%;
      }
      @media (max-width: 600px) {
        font-size: smaller;
      }
    }
  }

  .links {
    @media (max-width: 900px) {
      display: flex;
    }
  }
}
